environs==8.0.0
fire==0.3.1
numpy==1.18.4
openpyxl==3.0.5
pandas==1.0.3
pyqt5
pytest==6.1.2
pyyaml
rouge==1.0.0
scikit-learn==0.23.1
sentence-transformers==0.3.5.1
spacy==2.3.0
timelogging==2.2
torch==1.5.1
tqdm==4.46.0
transformers==3.0.2
tensorboard==2.4.1
xlrd==1.2.0
